<!DOCTYPE html>
<html>
<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Manage Videos</title>
	<script src="static/js/polyfill.min.js"></script>
	<script src="static/js/exceljs.min.js"></script>
	<script src="static/js/FileSaver.min.js"></script>
	
	<!--<link href="/static/css/dx.common.css" rel="stylesheet"> -->
	<!--<link href="/static/css/dx.light.css" rel="stylesheet"> -->
	<!--<link href="/static/css/site.css" rel="stylesheet"> -->
	<link rel="stylesheet/less" type="text/css" href="/static/css/site.less" />
	<script src="static/js/less.js" ></script>
	
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.2.4/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.2.4/css/dx.light.css" />
	
	<script src="static/js/jquery-3.5.1.min.js"></script>
	<script src="static/js/dx.all.js"></script>
	<script src="static/scripts/index.js"></script>
	<script src="static/scripts/pages/topmenu.js"></script>
	<script>
		$(function () {
			SaleViewer.criteria = "";
			SaleViewer.baseApiUrl = "/bk/";
		});
	</script>
	
	<script src="~/devexpress/scripts/pages/video.js"></script>

</head>
<body id="salesviewer">
    <div class="page-content-wrapper">
        <div class="page-content-push"></div>
        <div id="header">
            <div class="content">
                <a class="logo indent" href="../"></a>
                
                <div class="menu">
                    <div id="menu"></div>
                    
                    <div id="openPopupButton">
                        <a><span class="info-link">?</span></a>
                    </div>
                   
                </div>
                <script>

                    var activePageId = "" || "Camera",
                    topMenu = new SaleViewer.TopMenu($("#menu"), activePageId, "");
                    topMenu.init();
                
                </script>
                </div>

        </div>
		<!-------------------------------Render Body Part---------------------------------------------------------------------------------->
		<link rel="stylesheet" href="static/css/products.css" />

		<div class="white">
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="white">
							<div class="page" style="align-items: center; justify-content: center;">
								<div class="layout-box">
									<h3 class="indent">Manage Videos</h3>
									<div>
										<div id="exportPdfButton"></div>
										<div id="exportxlsxButton"></div>
										<div id="grid" class="products"></div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

			</section>
		</div>
    </div>
	<div id="video_popup"> </div>

</body>
</html>
