{% extends 'base.html' %}
{% block sidebar %} 
	<!-- BEGIN SIDEBAR MENU -->
	<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
		<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
		<li class="sidebar-toggler-wrapper hide">
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler">
				<span></span>
			</div>
			<!-- END SIDEBAR TOGGLER BUTTON -->
		</li>
		<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
		<li class="sidebar-search-wrapper">
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
			<!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
			<form class="sidebar-search  " action="page_general_search_3.html" method="POST">
				<a href="javascript:;" class="remove">
					<i class="icon-close"></i>
				</a>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
						<a href="javascript:;" class="btn submit">
							<i class="icon-magnifier"></i>
						</a>
					</span>
				</div>
			</form>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		{% for menu in menu_items %}
			{% if menu['title']==selected %}
				<li class="nav-item start active open">
					<a href="{{ url_for(menu['url'])}}" class="nav-link nav-toggle">
						<i class="{{menu['icon']}}"></i>
						<span class="title">{{menu['title']}}</span>
						<span class="selected"></span>
					</a>
				</li>
			{% else %}
				<li class="nav-item ">
					<a href="{{ url_for(menu['url'])}}" class="nav-link nav-toggle">
						<i class="{{menu['icon']}}"></i>
						<span class="title">{{menu['title']}}</span>
					</a>
				</li>
			{% endif %}
			
		{% endfor %}
		
	</ul>
	<!-- END SIDEBAR MENU -->
	<!-- END SIDEBAR MENU -->
{% endblock %}
{% block content %}


	
	<script src="static/js/dx.all.js"></script>
	<script src="static/scripts/index.js"></script>
	<script src="static/scripts/pages/topmenu.js"></script>

	<script>
		$(function () {
			SaleViewer.criteria = "";
			SaleViewer.baseApiUrl = "/bk/";
		});
	</script>
	
	<script src="static/scripts/pages/video.js"></script>
	<!-------------------------------Render Body Part---------------------------------------------------------------------------------->
	<link rel="stylesheet" href="static/css/products.css" />
	<div class="white">
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="white">
						<div class="page" style="align-items: center; justify-content: center;">
							<div class="layout-box">
								<h3 class="indent">Manage Videos</h3>
								<div>
									<div id="exportPdfButton"></div>
									<div id="exportxlsxButton"></div>
									<div id="Timeline" style="float:right;"></div>
									<div id="grid" class="products"></div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>

		</section>
	</div>
	<div id="video_popup"> </div>
	<div id="noti_popup"></div>
	<div id="custom_search_popup"></div>
	<a id='download' href='' download=''></a>
{% endblock %}